---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class:list={[
    "rounded-xl squircle border border-white/10 bg-surface-light/20 p-8 relative overflow-hidden group hover:border-primary/30 transition-colors duration-500",
    className,
  ]}
>
  <div
    class="absolute inset-0 bg-gradient-to-br from-transparent to-primary/5 opacity-0 group-hover:opacity-100 transition-opacity"
  >
  </div>
  <slot />
</div>
